html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #000;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}




h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
}

h1 {
  font-size: 64px;
  width: 100%;
  margin: 50px auto;
  background: #FAC420;
  background: linear-gradient(to right, #FAC420 0%, fcda29 50%, #F9A02B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5 {
  font-size: 15px;
  text-align: center;
  color: #ddd;
  width: 100%;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 5px;

}




button {
  background-color: initial;
  background-image: linear-gradient(to right top, #f9b21f, #f9ad22, #f9a925, #f9a428, #f9a02b);
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: black;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  max-width: 350px;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
 
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: auto;
  padding: 0px 50px;
  text-transform: uppercase;
  
}

button:hover {
  opacity: .7;
}


.blur {
  backdrop-filter: blur(15px);
  background: #1313139f;

}






