@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  padding: 0;
  margin: 0;
}

.gradient-01 {

  filter: blur(125px);
}

.hero-gradient {
  background-image: linear-gradient(to right top, #d1ad6b, #d5b270, #d9b775, #ddbd7a, #e1c27f, #e4c37e, #e8c47d, #ebc57c, #efc274, #f3be6d, #f7bb66, #fbb75f);
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;


  filter: blur(190px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;


  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

 
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background-image: linear-gradient(to right top, #782727, #812d2a, #89332d, #923a30, #9b4033);
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;
  filter: blur(175px), opacity(0);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

 
  filter: blur(150px);
}

.gearContainer {
display: flex;
flex-direciton: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
gap: 20px;
}

.placeholder {
height: 300px;
width: 300px;
border-radius: 10px;
}

.placeholder:hover {
transform: scale(1.6);
transition: .1s ease-in-out;
}

.sectionmargin {
  height: 50px;
}

.circle-wrap {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #1A232E;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: white;
  position: absolute;
  z-index: 200;
  font-weight: 700;
  font-size: 2em;
}

.button-m {
  z-index: 1000;
}

.timer-wrapper{
    height: 200px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;
   
  }
  
  .timer-inner {
    display: flex;
    flex-direciton: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;

  }
  
  .timer-segment {
    margin: 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #badee928;
    width: 200px;
    height: 75px;
    padding: 10px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin: auto;
   
  
  }
  
  .time {
    font-weight: 700;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .label {
    color: gold;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 26px;
  }