
@media only screen and (max-width: 768px) {

    .left {
      text-align: left;
    }
    
    .sectionMargin {
      height: 100px;
    }
  
    .msectionMargin {
      height: 100px;
    }
  
    
    .enter {
      margin-top: 90px;
    }
    
    .navbar {
      display: flex;
      position: fixed;
      top: 0px;
      z-index: 10;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #130D1Fa1;
      backdrop-filter: blur(10px);
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
      width: 100%;
      border-bottom: 2px solid #33254fa1;
     
    }
  
    .mheader-logo {
      display: none;
        
      }
  
     
      
  
  
  .mheader-logo2 {
    display: none;
  }
    
    .smartButtons-header {
      float: right;
      position: fixed;
      right: 40px;
      
    
    }
    
    .smartButtons-header button {
      border-radius: 10px;
   
      height: 40px;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: none;
    
      
    }
    
    .iconBtn {
      width: 50px;
      background-color: #ff0000;
      text-decoration: none;
      outline: none;
      border: none;
      
    }
    
  
    
    
    
    
    
    
    .logo4 {
      padding-top: 50px;
      width: 400px;
    
    }

        
    .logo5 {
        padding-top: 50px;
        width: 400px;
      
      }
    
    
    
    
    
    .container {
      display: flex;
      flex-wrap: wrap;
      max-width: 600px;
   
      position: relative;
      text-align: center;
      width: 94vw;
    }
    
    .product {
      flex: auto;
      font-size: 1.5rem;

      min-width: calc(33% - 2vw);
      position: relative;
    }
    
    .product:before {
      content: "";
      float: left;
      padding-top: 100%;
    }
    
    .content {
      background: white;
      border-radius: 30%;
      height: 84%;
    
      position: absolute;
      width: 84%;
      vertical-align: middle;
      z-index: 5000;
    }
    
    .product:hover .effect-1,
    .product:hover .effect-2 {
      display: block;
    }
    
    .effect-1,
    .effect-2 {
      border-radius: 30%;
      display: none;
      mix-blend-mode: normal;
      height: 84%;
      opacity: 1;
      position: absolute;
      width: 84%;
      z-index: 3000;
    }
    
    .effect-1 {
      animation: rotate 1.8s linear infinite;
      background: cyan;
    }
    
    .effect-2 {
      animation: rotate 1.2s linear reverse infinite;
      background: #e7a9ff;
    }
    
    @keyframes rotate {
      0% {
        top: 0;
        left: 8%;
      }
      25% {
        top: 8%;
        left: 0%;
      }
      50% {
        top: 16%;
        left: 8%;
      }
      75% {
        top: 8%;
        left: 16%;
      }
      100% {
        top: 0;
        left: 8%;
      }
    }
    
    .title {
      position: relative;
      top: calc(100% + 16px);
    }
    
    .title span {
      display: block;
  
      font-size: 0.6rem;
      letter-spacing: 0.1rem;
      margin-top: 8px;
      text-transform: uppercase;
    }
    
    .exercise {
      background-image: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
      border-radius: 5px;
      height: 50%;
  
      width: 100%;
    }
    
    .sleep {
      background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
      border-radius: 50%;
      height: 50%;
    
      width: 100%;
    }
    
    .meditation {
      background-image: linear-gradient(
        to top,
        #f3e7e9 0%,
        #e3eeff 99%,
        #e3eeff 100%
      );
      border-radius: 5px;
      height: 40%;
  
      transform: rotate(45deg);
      width: 40%;
    }
    
    .twitter {
      background-image: linear-gradient(
        to top,
        #1e3c72 0%,
        #1e3c72 1%,
        #2a5298 100%
      );
      border-radius: 14px;
      bottom: 20px;
      color: #fff;
      font-weight: 400;
      letter-spacing: 0.1rem;
      line-height: 28px;
      padding: 0 12px;
      position: fixed;
      right: 20px;
      z-index: 5000;
    }
    
    .twitter i {
    
      position: relative;
      top: 2px;
    }
    
    .twitter a {
      color: #fff;
     
      font-size: 0.7rem;
      text-decoration: none;
    }
    
    
    
    
    
    
    
    
    
    
    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      
    }
    
    
    .hero-section {
      height: 800px;
      background-image: url(../public/imgs/background.png);
      width: 100%;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      background-size: 100%;
    }
    
    .hero-section h1 {
      font-size: 40px;
    }
    
    .about-container {
      display: flex;
      flex-direction: column;
      background: #000;
      
      height: auto;
      padding: 50px 0px;
    }
    
    .xp-container {
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to bottom, #000000, #462225, #894136, #c86a38, #f9a02b);    
      height: 1500px;
      width: 100%;
      padding: 50px 10px;
  
    
    }
  
      
    .team-container {
        display: flex;
        flex-direction: column;
        /* background-image: linear-gradient(to top, #372a71, #24255a, #161d42, #0formf152a, #050813); */
        height: 1000px;
        width: 95%;
        padding: 0;
  
    
    }
  
        
    .team-container2 {
        display: flex;
        flex-direction: column;
        /* background-image: linear-gradient(to top, #372a71, #24255a, #161d42, #0f152a, #050813); */
        height:900px;
        width: 100%;
        padding: 0;
       
    
    }
  
    .contact-section {
        /* height: 1800px; */
    }
  
  
  
    .xp-container2 {
      display: flex;
      flex-direction: column;
    
    
      height: 90vh;
      width: 100%;
      padding: 50px 10px;
    
    }
    
    .xp-container3 {
      display: flex;
      flex-direction: column;
    
    
      
      width: 100%;
      padding: 150px 10px;
    
    }
  
    .xp-container5 {
      display: flex;
      flex-direction: column;
    
    
      height: 65vh;
      width: 100%;
      padding: 50px 10px;
    
    }
    
    .about-section {
      
      display: flex;
      flex-direction: column;
      
    
    }
    
    
    .timer-wrapper{
      
    }
    
    .timer-inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .timer-segment {
    
      border: 2px solid white;
      border-radius: 20px;
      background-color: #badee928;
      width: 150px;
      height: 150px;
      justify-content: center;
      align-items: center;
      text-align: center;
     
    
    }
    
    .time {
      font-weight: 700;
      font-size: 30px;
    }
    
    .label {
    
    }
    
    
    
    
    .about-section h1 {
      font-size: 40px;
    }
    
    .history-section {
      width: 100%;
      padding: 0px 60px;
     
    }
    
    .history-section h1 {
    font-size: 64px;
    text-align: center;
    width: 100%;
    margin: 50px auto;
    
    }
  
  
  
      .history-section p {
        font-size: 18px;
        text-align: center;
        color: #ddd;
        width: 100%;
        margin: auto;
        line-height: 26px;
        }
  
        .partner-section h5 {
          font-size: 15px;
          text-align: center;
          color: #ddd;
          width: 100%;
          margin: auto;
          text-transform: uppercase;
          letter-spacing: 5px;
          }
    
    .header-style {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
    }
    
  
    
  
    
    .xp-container2 h1 {
      font-size: 80px;
      }
      .xp-container2 h5 {
        font-size: 20px;
        font-weight: 500;
        color: #dcc37e;
       
        line-height: 10px;
        letter-spacing: 4px;
        }
    
        .xp-container3 h1 {
          font-size: 40px;
          }
          
  
            .xp-container3 h5 {
              font-size: 20px;
              font-weight: 500;
              color: #dcc37e;
              
              line-height: 10px;
              letter-spacing: 4px;
              }
      
              .xp-container5 h1 {
                font-size: 40px;
                }
                .xp-container5 h5 {
                  font-size: 20px;
                  font-weight: 500;
                  color: #dcc37e;
                 
                  line-height: 40px;
                  letter-spacing: 4px;
                  }
    
    
    
    
    
    .icon1 {
      width: 100px;
   
     
      filter: invert(1);
      
    }
    
    .icon2 {
      width: 80px;
      margin-left: auto;
      margin-right: auto;
      filter: invert(1);
      
    }
    
    .icon3 {
      width: 80px;
      margin-left: auto;
      margin-right: auto;
      filter: invert(1);
      
    }
    
    
    .icon4 {
      width: 30px;
      margin-left: auto;
      margin-right: auto;
      filter: invert(1);
      
    }
    
    
    
    
    
    
    
    
    
    .partner-section {
      width: 100%;
      padding: 0px 60px;
      display: flex;
      flex-direction: column;
    }
    
    .partner-tiles{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 5rem;
     
    }
    
    .xp-tiles {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
    
    .tiles {
    
      height: 75px;
      width: 200px;
      border-radius: 20px;
    
      /* background-color: rgb(33, 33, 33); */
      /* border: 2px solid #4f4f4f; */
    }
    
    .tiles-2 {
      
      height: 300px;
      width: 250px;
      border-radius: 20px;
      background-color: rgb(33, 33, 33);
      border: 2px solid #a9a9a9;
    }
    
    .tiles-3 {
   
      padding: 2rem;
      height: auto;
      width: 25%;
      border-radius: 10px;
      background-color: rgb(33, 33, 33);
      border: 2px solid #a9a9a9;
    }
    
    .tiles-4 {
     
      padding: 2rem 20px;
      height: auto;
      width: 22%;
      border-radius: 10px;
      background-color: rgb(33, 33, 33);
      border: 2px solid #a9a9a9;
      
    }
    
    .xp-tiles h1 {
     font-size: 22px;
    }
    
    
    
    
    .pfp {
      height: 80px;
      width: 80px;
      background-color: #dcc37e;
      border-radius: 50px;
      margin-left: auto;
      margin-right: auto;
      
    }
    
    .pfp2 {
      height: 150px;
      width: 150px;
      background-color: #dcc37e;
      border-radius: 90px;
      margin-left: auto;
      margin-right: auto;
      
    }
    
    .pfp3 {
      height: 30px;
      width: 30px;
      background-color: #27aee8;
      border-radius: 90px;
      margin-left: auto;
      margin-right: auto;
      
    }
    
    
    .outer-circle {
      position: relative;
    
      height: 150px;
      width: 150px;
      background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
      border-radius: 50%;
      animation: rotate 1.5s linear infinite;
    }
    
    .outer-circle span {
      position: absolute;
      left: 0px;
      height: 150px;
      width: 150px;
      background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
      border-radius: 50%;
    }
    
    
    @keyframes rotate  {
      0% {
        filter: hue-rotate(0deg);
      }
      50% {
        filter: hue-rotate(20deg);
       
      }
      0% {
        filter: hue-rotate(0deg);
        
       }
    }
    
    
    /* span:nth-child(1) {
      filter: blur(5px);
    }
    
    span:nth-child(2) {
      filter: blur(10px);
    }
    
    span:nth-child(3) {
      filter: blur(25px);
    }
    
    span:nth-child(4) {
      filter: blur(150px);
    }
     */
    .inner-circle {
      height: 150px;
      width: 150px;
      position: absolute;
      background: black;
      top: 0px;
      left: 0px;
      border-radius: 50%;
      z-index: 9;
      border: 2px solid white;
    }
    
    
    
    
    .nat {
    background-image: url(../public/imgs/jlee.png);
    background-position: center;
    background-size: 100%;
    }
    
    .free {
      background-image: url(../public/imgs/free.png);
      background-position: center;
      background-size: 100%;
      }
    
      .strudel {
        background-image: url(../public/imgs/strudel.png);
        background-position: center;
        background-size: 100%;
        }
    
        .jlee {
          background-image: url(../public/imgs/nat3d.png);
          background-position: center;
          background-size: 100%;
          }
      
    
    .degenMetaverse {
      background-image: url(../public/imgs/degenMetaverse.png);
      background-position: center;
      background-size: 150%;
    }
    
    .metavateMetaverse {
      background-image: url(../public/imgs/metavateMetaverse.png);
      background-position: center;
      background-size: 150%;
    }
    
    .degenMetaverse2 {
      background-image: url(../public/imgs/degenMetaverse2.png);
      background-position: center;
      background-size: 100%;
    }
    
    .metavateMetaverse2 {
      background-image: url(../public/imgs/metavateMetaverse2.png);
      background-position: center;
      background-size: 100%;
    }
  
    .placeholderMetaverse2 {
      background-image: url(../public/imgs/HowItStarted.png);
      background-position: center;
      background-size: 100%;
    }
    
    
    
    
    .metavatePartner img {
      background: transparent;
      background-position: center;
      width: 170px;
      filter: invert(1) blur(10px);
      
    }
  
      
    .hashlipsPartner img {
      background: transparent;
      background-position: center;
      width: 150px;
      filter: blur(20px);
    
    }
  
    .sdrnPartner img {
      background: transparent;
      background-position: center;
      width: 170px;
    
    }
    
  
    
    .metaverseSong {
      background-image: url(../public/imgs/metaverseSong.png);
      background-position: center;
      background-size: 100%;
    }
    
    
    
    
    .partner-section h1 {
    font-size: 30px;
    }
    
    .image-section {
      width: 100%;
      padding: 60px;
    }
    
    .imageSlider {
      border-radius: 20px;
      background-image: url(../public/imgs/HowItStarted.png);
      height: 100%;
      width: 100%;
    }
    
    
    p, h1, h2 {
    color: white;
    }
    
    .header-logo {
      width: 150px;
      height: auto;
      position: fixed;
      left: 40px;
      top: 25px;
    }
    
    
    .thumbnail {
      width: 240px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20px;
    }
    
    a {
      color: inherit;
      text-decoration: none;
    }
    
    * {
      box-sizing: border-box;
    }
    
    
    
    .Details {
      padding: 20px 250px;
      font-size: 20px;
      color: white;
    }
    
    .list {
      padding: 5px 120px;
      font-size: 20px;
      color: white;
    }
    
    li {
      text-decoration: none;
      list-style: none;
    }
    
    .Titles {
      color: #ff0000;
      text-transform: uppercase;
    }
    
    
    .formStyles {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    
    input {
      width: 500px;
      padding: 20px 10px;
      font-size: 18px;
    }
    
  
    
    .CoverJam {
      background-image: url('../public/imgs/bg.png');
      background-size: 120%;
      z-index: 2;
      width: 100vw;
      background-repeat: repeat;
    
    }
    
    
    }
  
  

      #our-team-content div div{
        border-radius: 20px;
        background-color:transparent;
        transition:500ms;
      }
      #our-team-content div div:hover{
        box-shadow:0px 5px 20px 2px rgba(0,0,0,0.2);
      }
      #our-team-content div div p{
        padding-right:15%;
        padding-left:15%;
        padding-bottom:20px;
        color:#6d747a;
        font-size:12px;
      }
      #our-team-content div div a{
        text-decoration:none;
      }
      #our-team-content div a figure img{
        width:60%;
        
      }
      #our-team-content div div a h4{
        margin-bottom:5px;
        margin-top:20px;
        color:#00bcd4;
        font-weight:bold;
        font-size: 20px;
        
      width: 100%;
      padding-bottom: 10px;
      margin: 0px auto;
      background: #FAC420;
      background: linear-gradient(to right, #FAC420 0%, fcda29 50%, #F9A02B 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
    
      #our-team-content span {
        font-size: 18px;
        font-weight: 700;
        color: #ddd;
      }
    
    
    
      #our-team-content div div a h4:hover,
      #our-team-content div div a h4:focus{
       color:#00838f;
      }
    
      .team-card {
        width: 500px;
        
      }
    
      .imgpfp {
    
        border-radius: 60px;
      }
    
      .imgpfp:hover {
        transform: scale(.95);
        transition: .1s ease-in;
        
      }

from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

      .field {
        padding-bottom: 20px;
       
      }
    
      textarea {
        width: 300px;
        height: 150px;
      }
      
